---
IDRAC_HOST: "https://192.168.1.1"
IDRAC_USERNAME: root
IDRAC_PASSWORD: calvin
HOST_HEALTHCHECK_POLL_IP: 10.0.0.1
DEFAULT_HTTP_REQ_TIMEOUT: 20
IDRAC_SLEEP_AFTER_RESET_REQUEST_REQ: 3

PSONO_CI_API_KEY_ID: changeme
PSONO_CI_API_SECRET_KEY_HEX: changeme
PSONO_CI_SERVER_URL: https://psono.example.com
PSONO_CI_VPN_SECRET_NOTE_ID: changeme
